.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;

    & .menuButton,
    & .backButton {
        font-size: 24px;
        cursor: pointer;
        color: #333;
    }

    .menuButton:hover, 
    .backButton:hover {
        background-color: #f0f0f0;
      }

    & .title {
        font-size: 24px;
        font-weight: 600;
        flex: 1;
        text-align: center;
        color: #333;
        margin: 0;
    }
}